.rel_body {
  background: #2580b8;
}

a {
  color: black;
}

.nav_link,
li,
a {
  text-decoration: none;
  display: inline-block;
}

.nav_link li {
  padding: 0 20px;
}

.nav_link {
  float: right;
}

a:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.nav_button {
  border-radius: 50%;
}
